title  = "Demonstration"
url    = "/"
layout = "default"
==
<h1>Heading One</h1>
<h2>Heading One</h2>
<div class="container" style="margin-top: 40px">
    <div data-target-name>
        {% partial 'site/name' %}
    </div>
    <form
        data-request="onTest"
        data-request-update="'site/name': '[data-target-name]'"
        >
        <div class="form-group">
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" data-attach-loading>PRINT</button>
        </div>
    </form>
</div>
<h3>Heading Three</h3>
<h4>Anu</h4>